body {
    background-image: url(../Images/download.jpg);
}

div {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: white;
}

td.head {
    font-size: 18px;
    margin-left: 45%;
    color: black;
}

table, th, td {
   border: 1px solid black;
   padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 50px;
    background-color: red;
    color: white;
}

tr.lel {
    height: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

tr.uit{
    display: inline;
    color: white;
}

img {
margin-left: 160px;
margin-right: auto;
}

form{
    width: 90px;
}